<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.pockettrainer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.ApplicationState"
        android:allowBackup="true"
        android:icon="@drawable/pt_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pt_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.TodayNoneActivity" />
        <activity android:name=".ui.activities.ProgramBrowserActivity" />
        <activity android:name=".ui.activities.TodayFinishedActivity" />
        <activity android:name=".ui.activities.TodayRecoveryActivity" />
        <activity android:name=".ui.activities.TodayNewActivity" />
        <activity android:name=".ui.activities.TodayReadyActivity" />
        <activity android:name=".ui.activities.UpcomingActivity" />
        <activity android:name=".ui.activities.TodayBelatedActivity" />
        <activity
            android:name=".ui.activities.CountdownActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activities.TimedActionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activities.TimedRecoveryActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activities.ProgramDetailsActivity"
            android:label="@string/title_activity_program_details"
            android:parentActivityName=".ui.activities.ProgramBrowserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.pockettrainer.ui.activities.ProgramBrowserActivity" />
        </activity>
        <activity
            android:name=".ui.activities.RepsActionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activities.RecoveryActionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.activities.HistoryActivity"></activity>
    </application>

</manifest>